src/main/resources/users.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:tns="http://example.com/user-management"
      targetNamespace="http://example.com/user-management"
      name="UserManagementService">

  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/user-management">
      <import namespace="http://example.com/user-management" schemaLocation="users.xsd"/>
    </schema>
  </types>

  <message name="LoginUserRequest">
    <part name="loginUserRequest" element="tns:loginUserRequest"/>
  </message>

  <message name="LoginUserResponse">
    <part name="loginUserResponse" element="tns:loginUserResponse"/>
  </message>

  <message name="SignupUserRequest">
    <part name="signupUserRequest" element="tns:signupUserRequest"/>
  </message>

  <message name="SignupUserResponse">
    <part name="signupUserResponse" element="tns:signupUserResponse"/>
  </message>

  <portType name="UserManagementPortType">
    <operation name="loginUserRequest">
      <input message="tns:LoginUserRequest"/>
      <output message="tns:LoginUserResponse"/>
      <fault message="tns:userFaultType" name="userFaultType"/>
    </operation>

    <operation name="signupUserRequest">
      <input message="tns:SignupUserRequest"/>
      <output message="tns:SignupUserResponse"/>
      <fault message="tns:userFaultType" name="userFaultType"/>
    </operation>
  </portType>
  
  <binding name="UserManagementBinding" type="tns:UserManagementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="loginUserRequest">
      <soap:operation soapAction="http://example.com/user-management/loginUserRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="signupUserRequest">
      <soap:operation soapAction="http://example.com/user-management/signupUserRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
  </binding>
  
  <service name="UserManagementService">
    <port name="UserManagementPort" binding="tns:UserManagementBinding">
      <soap:address location="http://localhost:8080/ws"/>
    </port>
  </service>
  
</definitions>